.mainContentBlock{
    background: url('./Resources/pictures/background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    flex-direction: column;
}


.bottom-element {
    position: fixed;
    bottom: 0;
    align-items: center;
    text-align: center;
    width: 100vw;
}

