@font-face {
    font-family: 'headings';
    src: url('../../Resources/fonts/Russo_One.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'aifont';
    src: url('../../Resources/fonts/Alien\ AI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.boardTileButton{
    width: 100px;
    height: 94px;
    font-size: 52px;
    font-family: 'headings', sans-serif;
    font-weight: 400;
    margin: 1px;
    color: rgb(23, 23, 23);
}

.boardTileButton:hover{
    color: white;
    background-color: black;
}

.boardContainer{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    flex-direction: column;
}

.playAgainButton{
    width: 220px;
    height: 64px;
    font-size: 26px;
    font-family: 'headings', sans-serif;
    font-weight: 400;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.469);
}

h1{
    font-family: 'headings', sans-serif;
    font-weight: 800;
    color: black;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .boardTileButton{
        width: 70px;
        height: 64px;
        font-size: 52px;
        font-family: 'headings', sans-serif;
        font-weight: 400;
        margin: 1px;
        color: rgb(23, 23, 23);
    }
    
}
