.gameFrame{
    width: 40vw;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 4px black;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}